.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../../images/background-2.jpg');
}

.hd img{
    height: 725px;
    width: 1000px;
}
.head{
    font-size: large;
    padding: 20px;
}
